# fly.toml app configuration file generated for turborepo-remote-cache on 2024-11-28T10:33:18+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'turborepo-remote-cache'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  NODE_ENV = "production"
  PORT = "3000"
  TURBO_TOKEN = "turbotoken-oss"
  LOG_LEVEL = "info"
  STORAGE_PATH = "local"

